/* iPad - 1024px wide */

@media (max-width: 1024px) {
	#projects ul li {
		width: 23%;
		height: 260px;
		margin-right: 30px;
		display: inline-block;
		overflow: hidden;
		background-color: #FFF;
		color: black;
		position: relative;
	}
}

@media (max-width: 1048px) {
	.hero-image h1 {
		font-family: 'FreightText Pro';
		font-weight: 300;
		display: inline;    
		position: absolute;
	    margin: 0 auto;
	    text-align: center;
	    left: 0;
	    right: 0;
	    line-height: 140%;
	    top: 25%;
	    width: 70%;
	}
}