/* iPad - 1024px wide */

@media (max-width: 1024px) {
	#projects ul li {
		width: 23%;
		height: 260px;
		margin-right: 30px;
		display: inline-block;
		overflow: hidden;
		background-color: #FFF;
		color: black;
		position: relative;
	}


}